@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot?') format('eot'), 
	     url('../fonts/Gotham-Bold.woff') format('woff'), 
	     url('../fonts/Gotham-Bold.ttf')  format('truetype'),
	     url('../fonts/Gotham-Bold.svg#webfontGotham-Bold') format('svg');
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/Gotham-Light.eot?') format('eot'), 
	     url('../fonts/Gotham-Light.woff') format('woff'), 
	     url('../fonts/Gotham-Light.ttf')  format('truetype'),
	     url('../fonts/Gotham-Light.svg#webfontGotham-Light') format('svg');
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.eot?') format('eot'), 
	     url('../fonts/Gotham-Medium.woff') format('woff'), 
	     url('../fonts/Gotham-Medium.ttf')  format('truetype'),
	     url('../fonts/Gotham-Medium.svg#webfontGothamMedium') format('svg');
}

@font-face {
  font-family: "icon-font";
  src:url("../fonts/fonticons.eot");
  src:url("../fonts/fonticons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fonticons.woff") format("woff"),
    url("../fonts/fonticons.ttf") format("truetype"),
    url("../fonts/fonticons.svg#webfonticon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
	display: inline-block;
    font-size: 32px;
    height: 57px;
    padding: 13px 5px 0;
    vertical-align: middle;
}
a.icon {
	color: #fff;
}
.icon-close:before {
  content: "a";
}
.icon-facebook:before {
  content: "b";
}
a.icon-facebook:hover {
	color: #3B5998;
}
.icon-gplus:before {
  content: "c";
}
a.icon-gplus:hover {
	color: #DA3838;
}
.icon-menu:before {
  content: "d";
}
.icon-pen {
	font-size: 40px;
	padding-top: 8px;
}
.icon-pen:before {
  content: "e";
}
.icon-twitter2:before {
  content: "f";
}
.icon-twitter:before {
  content: "g";
}
a.icon-twitter:hover,
a.icon-twitter2:hover {
	color: #1AB1E7;
}
.icon-youtube:before {
  content: "h";
}
a.icon-youtube:hover {
	color: #C3110B;
}