@charset "UTF-8";
/* CSS Document */

/*MAIN*/
body {
	font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #ddd;
}
header {
	font-size: 14px;
}
a,
.icon {
	transition: color 200ms linear 0s, background-color 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
a:hover {
	text-decoration: none;
}
ol {
	padding: 0 0 0 17px;
}
li {
	margin: 10px 0;
}
#main {
	background: #000;
}
.row {
	position: relative;
}
.no_scroll {
	overflow: hidden;
}
.tutup {
	/* background: rgba(236, 24, 105, 0.5); */
	position: fixed;
	top: 0;
    bottom: 0;
	z-index: 5;
    width: 100%;
}

/*FONT & BACKGROUND COLOR*/
.red {
	color: #ec1869;
}
.blue {
	color: #23aadc;
}
.yellow {
	color: #efa300;
}
.grey,
.grey .head_title {
	color: #fff;
	background: #53565b;
}
.grey2,
.grey2 .head_title {
	background: #74787f;
}
.light_grey,
.light_grey .head_title {
	color: #53565b;
	background: #c5c5c5;
}
.light_grey2,
.light_grey2 .head_title {
	background: #ebeae6;
}
.black {
	background: #000;
}
.white {
	background: #fff;
}

/*INDEPENDENT CLASS*/
#main_nav {
	min-height: 50px;
}
.box_title {
	background: #000;
	color: #fff;
	text-align: center;
}
.row_1 {
	min-height: 250px;
}
.row_2 {
	min-height: 500px;
}
.row_3 {
	min-height: 750px;
}

/*HEADER*/
#menu_area {
	background: #242b3d;
}
#menu_area ul {
	margin: 30px 0 0 14%;
	padding: 0;
}
#menu_area ul li,
#kanal_menu li,
#profile_menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
}
#menu_area ul li a,
#profile_menu li a {
	padding: 2px 0;
	color: #fff;
	display: inline-block;
}
#menu_area ul li a:hover,
#profile_menu li a:hover {
	color: #ffca23;
}
#share.box {
	background: #000;
}
#share div {
	top: 45%;
	width: 100%;
	text-align: right;
}
#share a {
	padding-top: 0;
	height: 32px;
}
#kanal_menu {
	float: right;
	margin: 26% 70px 0 0;
}
#kanal_menu li a,
#profile_menu li a {
	padding: 3px 0;
	font-size: 13px;
	display: inline-block;
	color: #ddd;
}
#kanal_menu li a.female,
#menu_area li a.female {
	color: #802c89;
}
#kanal_menu li a.kids,
#menu_area li a.kids {
	color: #ffca23;
}
#kanal_menu li a.family,
#menu_area li a.family {
	color: #ec1869;
}
#kanal_menu li a.male,
#menu_area li a.male {
	color: #1fa9db;
}
#kanal_menu li a:hover {
	color: #fff;
}
#profile_menu {
	padding: 0 0 0 35px;
}
#profile_menu li a {
	font-size: 12px;
}
#main_nav,
#logo_area,
#menu_area {
	height: 200px;
}
#logo_area {
	text-align:left;
}
#logo_area img {
	margin: 70px 0 67px 60px;
	width: 162px;
	height: auto;
}

@media (max-width: 767px) {
/*MOBILE SITE MENU*/
	header {
		margin-bottom: 29px;
	}
    #main_nav,
	#logo_area,
	#menu_area {
		height: auto;
	}
	#logo_area {
		position: fixed;
		background: #000;
		z-index: 3;
		text-align: center;
	}
	#logo_area img {
		margin: 15px 0;
		width: 125px;
		height: auto;
	}
	#menu,
	#close {
		position: fixed;
		top: 23px;
		right: 10px;
		background: #fff;
		color: #1F2430;
		z-index: 3;
	}
	#close {
		color: #EC1869;
	}
	#menu:hover,
	#close:hover {
		color: #3C4B62;
	}
	#close {
		position: absolute;
	}
	#menu .icon,
	#close .icon {
		padding: 0;
		width: 31px;
		height: 31px;
	}
	#menu_area {
		background: rgba(36, 43, 61, 0.95);
		float:right;        
		position:fixed;
		right:-270px;
		top:0px;
		display:none;
		z-index: 6;
		width:270px;
		height:100%;
		overflow: auto;
	}
	#menu_area ul {
		margin-right: 14%;
	}
	#menu_area ul li a {
		display: block;
		padding: 5px 0;
		border-bottom: 1px dotted #354255;
	}
	a.boxclose{
		font-size: 1.5em;
		font-family: 'futura_book';
		float:right;
		width:40px;
		height:40px;
		position:absolute;
		right:30px;
		top:30px;
		color:#fff;
		background-color:#00b698;
		cursor:pointer;
		z-index:120;
	}
	a.boxclose:hover {
		background-color:#00857f;
		cursor:pointer;
	}
	
	/*tentang kami*/	
	#about .box:after,
	#senior_management .box:after,
	#penghargaan .box:after,
	#stasiun_pemancar .box:after,
	#program .box:after {
		padding-top: 0;
	}
	#about .box_content,
	#senior_management .box_content,
	#penghargaan .box_content,
	#stasiun_pemancar .box_content,
	#program .box_content {
		position: relative;
	}
	#about #share div {
		margin: 0 0 5px;
	}
        
/* Style for overlay and box end*/ 
}

@media (min-width: 500px) {
	#row1 .col-sm-6,
	#row2 .col-sm-6,
	#row3 .col-sm-6 {
    	width: 50%;
  	}
  	#row1 .col-sm-pull-6 {
    	right: 50%;
  	}
  	#row1 .col-sm-push-6 {
    	left: 50%;
  	}
}

@media (min-width: 320px) and (max-width: 767px) {
	#row4 .col-sm-4,
	#row4 .col-sm-8 {
		width: 50%;
	}
	#share.col-sm-6 {
		width: 100%;
	}
	#share.box:after {
		padding: 0;
	}
	#share div {
		text-align: center;
		position: relative;
		margin: 20% 0 0;
		padding: 8px 0 10px;
	}
	#share div .icon {
		font-size: 40px;
	}
}
@media (max-width: 499px) {
	#share div {
		margin: 0 0 5px;
	}
}
@media (max-width: 479px) {
	#row4 .col-xs-6 {
		width: 100%;
	}
}

#header {
	position: relative;
	display: table;
	width: 100%;
	clear: both;
}

/* S: responsive resixe box */
.box {
	background: #fff url(../images/bg_shade.gif) no-repeat left bottom;
	background-size: contain;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.box:after {
	content: "";
	display: block;
	padding-top: 100%;
}
.box.box2:after {
	padding-top: 200%;
}
.box.box3:after {
	padding-top: 300%;
}
.box.box4:after {
	padding-top: 400%;
}
.box.box5:after {
	padding-top: 500%;
}
.box.box6:after {
	padding-top: 600%;
}
/* E: responsive resize box */

#row1 .box_content,
#row2 .box_content,
#row3 .box_content,
#row4 .box_content,
#share .box_content
 {
	overflow: visible;
}
.gantung {
	position: absolute;
	top: 0;
	z-index: 2;
}
.gantung.kanan {
	right: 0;
}
.box_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.box_mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.cover {
	width: 100%;
	height: auto;
}

/*SQUARE BOX*/
.jdl_program,
.hari,
.jam {
	margin-left: 21%;
	margin-right: 5%;
}
jdl_program,
.jam {
	font-weight: bold;
}
.jdl_program {
	margin-bottom: 5px;
	margin-top: 15%;
	height: 43px;
}
.hari {
	margin-bottom: 0;
}
.jam {
	width: 75px;
	font-size: 45px;
	line-height: 35px;
	letter-spacing: -3px;
	word-wrap: break-word;
	margin-top: 0;
	font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
}
.jam p {
	margin-top: -7px;
	letter-spacing: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
}
.jdl_program {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0;
	margin-top: 15%;
}
.head_title {
	padding: 30px 30px 15px;
	margin: 0;
	color: #53565b;
}
.head_title span {
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
}
.box article,
.textbox article {
	padding: 0 30px 10px;
	line-height: 1.2;
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
}

/*hover box*/
.pview .description {
	position: absolute;
	overflow: auto;
	top: 0px;
	bottom: 0px;
	padding: 15px;
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
    	 -o-transition: all 0.4s ease-in-out;
    	-ms-transition: all 0.4s ease-in-out;
    		transition: all 0.4s ease-in-out;
}
.pview .description.right {
	right: 0px;
}
.red .description {
	background: rgba(236, 24, 105, 0.8);
}
.blue .description {
	background: rgba(35, 170, 220, 0.8);
}
.yellow .description {
	background: rgba(239, 163, 0, 0.8);
}
.pview:hover .description {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.pview .cover {
	-webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
    	 -o-transition: all 0.2s linear;
    	-ms-transition: all 0.2s linear;
    		transition: all 0.2s linear;
}
.pview:hover .cover {
	-webkit-transform: scale(1.1,1.1);
       -moz-transform: scale(1.1,1.1);
    	 -o-transform: scale(1.1,1.1);
    	-ms-transform: scale(1.1,1.1);
    		transform: scale(1.1,1.1);
}

@media (min-width: 750px) and (max-width: 950px) {
	.jdl_program,
	.hari,
	.jam {
		margin-left: 17%;
		margin-right: 5%;
	}
	.jdl_program {
		margin-top: 12%;
	}
	.box_mask {
		display: none;
	}
}

@media (min-width: 500px) and (max-width: 749px) {
	.jdl_program,
	.hari,
	.jam {
		margin-left: 10%;
		margin-right: 5%;
	}
	.jdl_program {
		font-size: 16px;
		margin-bottom: 10px;
		margin-top: 8%;
		height: 35px;
	}
	.hari {
		font-size: 12px;
		margin-right: 0;
	}
	.jam {
		line-height: 30px;
		font-size: 37px;
		margin-bottom: 3px;
	}
	.jam p {
		margin-top: -5px;
	}
	.box_mask {
		display: none;
	}
}

@media (min-width: 500px) and (max-width: 640px) {
	.jam {
		line-height: 25px;
		font-size: 30px;
	}
	.jam p {
		font-size: 12px;
	}
}

@media (min-width: 500px) and (max-width: 565px) {
	.jdl_program {
		font-size: 14px;
		margin-bottom: 0;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.box_mask {
		display: none;
	}
	h3.head_title {
		font-size: 16px;
	}
	.head_title {
		padding: 15px 15px 10px;
	}
	.box article, .textbox article {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 320px) {
	.jdl_program,
	.hari,
	.jam {
		margin-left: 10%;
		margin-right: 5%;
	}
	.jdl_program {
		font-size: 16px;
		margin-bottom: 10px;
		margin-top: 8%;
		height: 35px;
	}
	.hari {
		font-size: 12px;
	}
	.jam {
		line-height: 25px;
		font-size: 30px;
		margin-bottom: 3px;
	}
	.jam p {
		margin-top: -5px;
	}
}

/*END: SQUARE BOX*/

/*ROW4*/
.fixed_height {
	overflow: hidden;
}
#row4, #row4 .box {
	background: #fff;
}
#kiri {
	background: #fff;
}
#kiri .fixed_height,
#kanan .fixed_height {
	height: 310px;
}

/*JADWAL*/
#jadwal {
}
#jadwal td {
	padding: 2px 5px;
}
.scroll {
	font-size: 12px;
	margin: 10px 0;
	height: 233px;
	overflow: auto;
}
@media (min-width: 767px) and (max-width: 800px) {
	#kiri #jadwal.fixed_height {
		height: 238px;
	}
	.scroll {
		height: 170px;
	}
	h3.head_title {
		font-size: 18px;
	}
	.head_title {
		padding: 15px 15px 10px;
	}
	.box article, .textbox article {
		padding-left: 15px;
		padding-right: 15px;
	}
	#profile_menu {
		padding: 0 0 0 25px;
	}
}

/*FOOTER*/
footer {
	padding: 25px 10px 20px;
	font-size: 12px;
}
#member {
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
	margin: 0 0 0 7.3%;
}
#member img {
	padding: 0 12px 10px;
}
#member,
#menu_foot a {
	color: #acacac;
}
#menu_foot {
	margin: 10px 0;
}
#menu_foot a {
	margin: 0 5px;
}
footer, #menu_foot a:hover {
	color: #fff;
	text-decoration: none;
}
#menu_foot span {
	display: block;
	padding: 0 5px;
	font-size: 11px;
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
}

@media (min-width: 767px) and (max-width: 950px) {
	footer {
		font-size: 10px;
	}
	#member {
		margin: 0;
	}
}

@media (min-width: 480px) and (max-width: 766px) {
	footer {
		text-align: center;
	}
	#member {
		margin: 0;
		width: 100%;
	}
	#member img {
		width: 15%;
	}
	#menu_foot {
		width: 100%;
	}
}
	
@media (max-width: 479px) {
	footer {
		text-align: center;
	}
	#member {
		margin: 0;
		width: 100%;
	}
	#member img {
		width: 30%;
	}
	#menu_foot span {
		padding: 5px;
	}
}
	
/*SLIDER*/
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
}
.callbacks img {
	display: block;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	margin-top: -45px;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}