@charset "UTF-8";
/* CSS Document */

/*MAIN*/
body {
	font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
header {
	font-size: 14px;
	display: table;
	width: 100%;
}
a,
.callbacks_nav,
.icon,
.accordion .title,
#profile_menu {
	transition: color 200ms linear 0.1s, background-color 300ms cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}
a:hover {
	text-decoration: none;
}
ul.list,
ol.list {
	padding: 0 0 0 12px;
}
ul.list li {
	margin: 0;
}
ol {
	padding: 0 0 0 17px;
}
ol.list li {
	margin: 3px 0;
}
li {
	margin: 10px 0;
}
.row {
	position: relative;
}

/*FONT & BACKGROUND COLOR*/
.red {
	color: #ec1869;
}
.blue {
	color: #23aadc;
}
.yellow {
	color: #efa300;
}
.violet {
	color: #7f298c;
}
.grey {
	color: #fff;
	background: #53565b;
}
.grey2 {
	background: #74787f;
}
.light_grey {
	color: #333;
	background: #c5c5c5;
}
.light_grey2 {
	background: #ebeae6;
}
.black {
	background: #000;
}
.white {
	background-color: #fff;
}

/*FONT-STYLE*/
.jdl_program,
.jam,
.pview .description h4,
.accordion .title {
	font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
}
#menu_area ul li,
#kanal_menu li,
#profile_menu li,
.jam p,
.head_title span,
.box article,
.pview .description,
.transmisi,
footer,
#menu_foot span {
	font-family: "Gotham-Light", Arial, Helvetica, sans-serif;
}

/*INDEPENDENT CLASS*/
#main {
	background: #000;
}
#main_nav {
	min-height: 50px;
}
.box_title {
	background: #000;
	color: #fff;
	text-align: center;
}
.pulltop {
	margin-top: -50%;
}
.pulltop2 {
	margin-top: -25%;
}
.right {
	right: 0px;
}
.bottom {
	bottom: 0px;
	top: 50% !important;
}
.no_scroll {
	overflow: hidden;
}
.tutup {
	/* background: rgba(236, 24, 105, 0.5); */
	position: fixed;
	top: 0;
    bottom: 0;
	z-index: 3;
    width: 100%;
}
#apply a {
	position: absolute;
	right: 20px;
	bottom: 15px;
	color: #CC2C2E;
	z-index: 2;
}

/*HEADER*/
#menu_area,
#menu_foot {
	background: #242b3d;
}
#menu_area ul {
	margin: 30px 0 0 14%;
	padding: 0;
}
#menu_area ul li ul {
	margin: 0 0 10px 15px;
	font-size: 12px;
}
#menu_area ul li,
#kanal_menu li,
#profile_menu li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#menu_area ul li a,
#profile_menu li a {
	padding: 2px 0;
	color: #fff;
	display: inline-block;
}
#menu_area ul li a:hover,
#profile_menu li a:hover,
#profile_menu li a.active {
	color: #ffca23;
	text-decoration: none;
}
#share.top,
#share.top2 {
		display: none;
}
#share.box {
	background: #000;
}
#share div {
	top: 45%;
	width: 100%;
	text-align: right;
}
#share a {
	padding-top: 0;
	height: 32px;
}
#kanal_menu {
	float: right;
	margin: 26% 70px 0 0;
}
#kanal_menu li a,
#profile_menu li a {
	padding: 3px 0;
	font-size: 13px;
	display: inline-block;
	color: #ddd;
}
#kanal_menu li a.female,
#menu_area li a.female {
	color: #cf40de;
}
#kanal_menu li a.kids,
#menu_area li a.kids {
	color: #ffca23;
}
#kanal_menu li a.family,
#menu_area li a.family {
	color: #ec1869;
}
#kanal_menu li a.male,
#menu_area li a.male {
	color: #1fa9db;
}
#kanal_menu li a:hover {
	color: #fff;
}
#profile_menu {
	padding: 0 0 0 35px;
	position: absolute;
	top: 0;
}
#profile_menu li a {
	font-size: 12px;
}
#profile_menu.fxd {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	padding: 0;
	background: rgba(0,0,0,0.8);
	display: table;
	text-align: center;
}
#profile_menu.fxd li {
	display: inline-block;
}
#profile_menu.fxd li a {
	padding: 15px 10px;
	font-size: 11px;
}
#main_nav,
#logo_area,
#menu_area {
	height: 200px;
}
#logo_area {
	text-align:left;
}
#logo_area img {
	margin: 70px 0 67px 60px;
	width: 162px;
	height: auto;
}
#header {
	position: relative;
	display: table;
	width: 100%;
	clear: both;
}

/* S: responsive resixe box */
.box {
	background-image: url(../images/bg_shade.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.box:after {
	content: "";
	display: block;
	padding-top: 100%;
}
.box.box2:after {
	padding-top: 200%;
}
.box.box3:after {
	padding-top: 300%;
}
.box.box4:after {
	padding-top: 400%;
}
.box.box5:after {
	padding-top: 500%;
}
.box.box6:after {
	padding-top: 600%;
}
.box.land:after {
	padding-top: 50%;
}
/* E: responsive resize box */

#row_1 .box_content,
#galeri .box_content,
#share .box_content
 {
	overflow: visible;
}
.gantung {
	position: absolute;
	top: 0;
	z-index: 2;
}
.box_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.box_mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.cover {
	width: 100%;
	height: auto;
}

/*SQUARE BOX*/
.jdl_program,
.hari,
.jam {
	margin-left: 15%;
	margin-right: 5%;
}
.jdl_program {
	height: 43px;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0;
	margin-top: 19%;
}
.jdl_program.tiga {
	margin-top: 11%;
	height: 63px;
}
.hari {
	margin-bottom: 0;
	font-size: 15px;
}
.jam {
	font-size: 45px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: -3px;
	word-wrap: break-word;
	margin-top: -2px;
}
.jam p {
	margin-top: -7px;
	letter-spacing: 0;
	font-size: 15px;
	font-weight: normal;
}
.jam_2 {
	position: absolute;
	right: 10%;
	bottom: 3%;
	margin: 0;
}
.head_title {
	padding: 27px 27px 15px;
	margin: 0;
	color: #53565b;
}
.black .head_title,
.grey .head_title {
	color: #fff;
}
.box article {
	padding: 0 27px 15px;
	line-height: 1.2;
	font-size: 11px;
}

/*hover box*/
.pview .description {
	position: absolute;
	overflow: auto;
	top: 0px;
	bottom: 0px;
	padding: 20px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
    	 -o-transition: all 0.4s ease-in-out;
    	-ms-transition: all 0.4s ease-in-out;
    		transition: all 0.4s ease-in-out;
}
.land .description {
	width: 50%;
}
.red .description {
	background: rgba(236, 24, 105, 0.95);
}
.blue .description {
	background: rgba(35, 170, 220, 0.95);
}
.yellow .description {
	background: rgba(239, 163, 0, 0.95);
}
.violet .description {
	background: rgba(126, 40, 139, 0.95);
}
.pview:hover .description {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#galeri .description {
	background: rgba(0,0,0,0.7);
}
.pview .cover {
	-webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
    	 -o-transition: all 0.2s linear;
    	-ms-transition: all 0.2s linear;
    		transition: all 0.2s linear;
}
.pview:hover .cover {
	-webkit-transform: scale(1.2,1.2);
       -moz-transform: scale(1.2,1.2);
    	 -o-transform: scale(1.2,1.2);
    	-ms-transform: scale(1.2,1.2);
    		transform: scale(1.2,1.2);
}
/*END: SQUARE BOX*/

/*ROW4*/
.fixed_height {
	overflow: hidden;
}
#row4, #row4 .box {
	background: #fff;
}
#kiri {
	background: #fff;
}
.fixed_height {
	height: 310px;
}

/*JADWAL*/
#jadwal {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#jadwal td {
	padding: 2px 5px;
}
.scroll {
	font-size: 12px;
	margin: 10px 0;
	height: 417px;
	overflow: auto;
}

/*ACCORDION*/
.accordion ul {
	padding: 0;
	margin: 0;
}
.accordion .title {
	color: #54565c;
	margin-left: -20px;
    margin-top: 0;
    padding: 0 0 0 20px;
	cursor: pointer;
	background: url(../images/arrow.png) no-repeat left 1px;
}
.accordion .title:hover,
.accordion .buka {
	color: #FFCA23;
}
.accordion .buka {
	background: url(../images/arrow.png) no-repeat left -13px;
}
.accordion li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
}
.accordion li div {
	display: none;
	margin: 0 0 10px;
	overflow: auto;
}
.accordion li div a {
	padding: 3px 0;
	display: inline-block;
	color: #fff;
}
.accordion li div a:hover {
	color: #1FA9DB;
}

/*FOOTER*/
footer {
	font-size: 12px;
}
#member {
	margin: 4.5% 0 0 7.5%;
}
#member img {
	margin: 0 12px 10px;
}
#member,
#menu_foot a,
.copy {
	color: #acacac;
}
#menu_foot {
	padding: 27px 0 27px 40px;
}
#menu_foot a {
	float: left;
	display: block;
	width: 132px;
}
footer, #menu_foot a:hover {
	color: #fff;
	text-decoration: none;
}
#menu_foot span {
	display: block;
	padding: 0 5px;
	font-size: 11px;
}
.copy {
	float: right;
	margin: 7% 7.5% 0 0;
	font-size: 11px;
}

.transmisi {
	margin: 0 27px 15px;
	font-size: 11px;
}
.transmisi th {
	padding: 0 0 10px;
}
.satelit {
	margin: 20px 0 0;
}
.satelit div {
	padding: 2px 0;
}
	
/*SLIDER*/
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
}
.callbacks img {
	display: block;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 54%;
	left: 0;
	opacity: 0.4;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	margin-top: -45px;
	background: url(../images/nav_banner.gif) no-repeat left top;
}
.callbacks_nav:hover {
	opacity: 0.7;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}